{% load staticfiles %}
<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>İş Günlüğü</title>
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/source_sans.css' %}">
<link href="{% static 'css/style.css' %}" rel="stylesheet">

{%block header %}{%endblock%}
</head>
<body>
	<div style="margin:50px;">
		<a class="btn btn-warning" href="{% url 'isler:bugun'%}" >Bugün</a>
		<a class="btn btn-success" href="{% url 'isler:not_kaydi'%}" >Yeni Not</a>
		<a class="btn btn-danger" href="{% url 'isler:problem_kaydi'%}" >Yeni Problem</a>
		<a class="btn btn-info" href="{% url 'isler:gorev_kaydi'%}" >Yeni Görev</a>
		<a class="btn btn-info" href="{% url 'isler:hatirlatma_kaydi'%}" >Yeni Hatırlatma</a>
	</div>
	<div style="margin-left:50px;">
		{% block icerik %}{% endblock %}
	</div>
</body>
</html>